h1, p {
    font-family: 'Playfair Display', serif;
}
$title1 {
    font-family: 'Playfair Display', serif;
}
div {
    float: left;
    height: 200px;
}
.div1 {
    width: 50%;
    background-color: aqua;
}
.div2 { 
    width: 50%;
    background-color: brown;
}
body {
    background-color: blanchedalmond;
}
@media only screen and (max-width: 600px) {
    body {
        background-color: cadetblue;
    }
#hide {
    display: none;
}
}