$primary_1: #91ffd5;
$primary_2: #5f5f5f;
$primary_3: #cccccc;
$primary_4: #7398ff;
$primary_5: #00d9ff;
$font_size: 16px;

#title1{
    color: $primary_1;
    font-size: $font_size;
}
#title2{
    color: $primary_2;
    font-size: $font_size;
}
#title3{
    color: $primary_3;
    font-size: $font_size;
}
#title4{
    color: $primary_4;
    font-size: $font_size;
}
#title5{
    color: $primary_5;
    font-size: $font_size;
}

#button1{
    background-color: $primary_1;
}
#button2{
    background-color: $primary_2;
}
#button3{
    background-color: $primary_3;
}
#button4{
    background-color: $primary_4;
}
#button5{
    background-color: $primary_5;
}