.header-section {
    margin: 0;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: Roboto, sans-serif;
    text-align: center;
    z-index: 0;
}
.header-image {
    position: absolute;
    height: 600px;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -2;
}
.header-image-overlay {
    height: 600px;
    width: 100%;
    opacity: 0.8;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.header-description {
    margin-top: 200px;
    width: 100%;

}
.header-title {
    margin-top: 0;
    font-weight: bold;
    font-size: 30px;
}
.header-text {
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header-button {
   background-color: cornsilk;
   border: none;
   border-radius: 5px;
   color: black;
   padding: 15px 32px;
   text-decoration: none;
   display: inline-block;
   font-size: 18px;
   margin: 4px 12px;
   cursor: pointer;
   box-shadow: 0.8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
   transition-duration: 0.3s;
}
.header-button:hover{
    background-color:rgb(129, 129, 129);
    box-shadow: 0.8px 16px 0 rgba(255, 255, 255, 0.2), 0 6 20 0 rgba(255, 255, 255, 0.15);
    color: black;
}